body{
    background-color: #DFE6EC;
    font-family: 'Inter', sans-serif;
}
.main-ctn{
    margin: 0 auto;
    max-width: 600px;
}

/*Root*/

/*TodoCounter*/
.ctn-counter{
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}
.ctn-counter h2{
    text-align: center;
    font-size: 25px;
    font-weight: medium;
}

/*TodoSearch*/
.ctn-search{
    display: flex;
    justify-content: center;
}
.ctn-search input{
    width: 70%;    
    height: 40px;
    text-align: center;
    border: 1px solid #213547;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    box-shadow: 3px 6px 20px #213547;
}
.ctn-search button{
    font-family: 'Inter', sans-serif;   
}

/*Todo-List*/
.list-ctn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 0;
    height: 300px;
    overflow-y: scroll;
}

/*Todo-Item*/
.task-ctn{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;
}